extends layout


block content
  article#movie
    h1 #{Title} (#{Year})
    div#leftDetailed
      img(src=Poster alt=`${Title}`)
      if(Ratings)
        if(Ratings[0])
          p IMDB (#{Ratings[0].Value}) | #{imdbVotes}
        if(Ratings[1])
          p #{Ratings[1].Source}: #{Ratings[1].Value}
        if(Ratings[2])
          p #{Ratings[2].Source} (#{Ratings[2].Value})
    div#rightDetailed
      ul
        li 
          p Movie Release:
          span #{Released}
        li 
          p DVD Release: 
          span #{DVD}
        li
          p Rated: 
          span #{Rated}
        li
          p Runtime: 
          span #{Runtime}
        li
          p Awards: 
          span #{Awards}
        li
          p BoxOffice: 
          span #{BoxOffice}
        li
          p Country: 
          span #{Country}, 
        li 
          p Language: 
          span #{Language}
        li
          p Production: 
          span #{Production}
        li
          p Genre(s): 
          span #{Genre}
        li
          p Director(s): 
          span #{Director}
        li
          p Writer(s): 
          span #{Writer}
        li
          p Actors:
          span #{Actors}
      div#summary
        h3 Full Summary
        p #{Plot}





