extends layout


block content
  section#results
    if(searchList.length)
      h3 Results for 
        i '#{searchTerm}'.
      ul  
        each movie in searchList
          if(movie.poster_path && movie.release_date)
            li
              a(href=`/movie/${encodeTitle(movie.title)}&${movie.release_date}`)
                img(src='https://image.tmdb.org/t/p/w200/' + movie.poster_path alt=`${movie.title}`)
                p= movie.title
                p= format(movie.release_date)
              div.generate
                a( href='/recommendations/' + movie.id) Recommend Movies
  
    else 
      h3 No results for
        i '#{searchTerm}'.   








